* {
    
    margin-top: 0.5em;
    margin-right: 0.5em;
}

/* Cuerpo */
.contenedor-principal{
    margin-top: 4em;;
    background-color: lightcoral;
   
    
}

.contenido {
    margin-top: 4em;;
    background-color: honeydew;
    margin-left: 1em;
}



form.alta{
    
}

form {
    
    
}

div.alta{
    
     margin: 16px;
}

/* Barra de navegacion */
div.contenedor {

    background-color: lightskyblue;


}

div.barra-menu{
    background-color: lightgrey;

}

ul.barra-menu-opciones{

}

/* Pie */
footer {
    background-color: lightpink;

}

/* Otros */

ul {
    list-style:none;
    
}

ul li {
     float: left;
}

/* Enlaces */

ul li a {    
   font-family: verdana, arial, sans-serif;
   font-size: 10pt;
   font-weight: bold;
   padding: 4px;
   background-color: #ffffcc;
   color: #666666;
   text-decoration: none;
   
}
ul li a:link,
ul li a:visited {
   border-top: 1px solid #cccccc;
   border-bottom: 2px solid #666666;
   border-left: 1px solid #cccccc;
   border-right: 2px solid #666666;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}
ul li a:hover {
   border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

table td, table th {
    border: 1px solid #636363;
    padding: 8px;
}
/* Formato filas pares */
/*
odd
Representa elementos cuya posición numérica en una serie de hermanos es impar: 1, 3, 5, etc.

even
Representa elementos cuya posición numérica en una serie de hermanos es par: 2, 4, 6, etc. 
*/

table tr:nth-child(even){background-color: #ffffffb8;}

/* Resaltar fila seleccionada, excepto la primera (encabezado) */
table tr:not(:first-child):hover {background-color: #f2f2f2;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}



